$site_max_width: 1440px;
$bg_color: #FBFCF5;
$font_color: #8A5550;
$link_color: #4da68c;
$link_hov_color: #8ee5c3;
$input_color: $link_color;
$font_family: 'Merriweather', serif;
$header_font_family: 'Pinyon Script', cursive;
$font_size: 14px;
$line_height: percentage(20px / $font_size);