Hi <%= @person.first_name %>!
You're recieving this email because we (Beatrice and Justice) are getting married soon, and we'd love to have you there.
You can access your rsvp at <%= @rsvp_url %>; please let us know if you can attend!
The website has a lot of information about venue, the ceremony, what to bring, etc, so please take a look around</p>

With love,
Beatrice Evelyn Corfman & Justice Lynn Erikson