<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
  <body>
    <h1>Hi <%= @person.first_name %>!</h1>
    <p>
      You're recieving this email because we (Beatrice and Justice) are getting married soon, and we'd love to have you there.
    </p>
    <p>
      You can access your rsvp at <%= link_to "this page", @rsvp_url %> on our website; please let us know if you can attend!
    </p>
    <p>The website has a lot of information about venue, the ceremony, what to bring, etc, so please take a look around</p>
    <p>With love,<br \>
      Beatrice Evelyn Corfman & Justice Lynn Erikson</p>
  </body>
</html>